.bg-color{
	background-color: #919548;opacity: 0.8;

}
.btn-style{
	padding: 5px;
	margin-right: 10px;
	background-color: #1D3525;
	color: #fff;
}
.btn-style2{
	    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #38B55F;
    border-radius: 10px;
    padding: 0.5%;
}
.hover-effect{
  box-shadow: 0 0 5px #fff;
}
.modal-header{
	border-bottom: 0px !important;

}
.modal-title{
	margin-left: 40px !important;
}
.heading-style{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	/*font-style: ᑕOOᒪᖴOᑎT.OᖇG;*/
	font-family: 'Merriweather', serif;
}
.img-style{
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 1360px;
	padding: 0px !important; 
}
.parallax{
	background-image: url("images/banerproject4.jpg");
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: 100% 100%;
	width: 100%;
}
.text-block{
	position: absolute;
  align-content: center;
  width: 30%;
  /*left: 35%;*/
  top: 17%;
  background-color: white;opacity: 0.7;
  margin-top: 5%;
  color: #BD1758;
  padding-left: 20px;
  padding-right: 20px;
}
.container{
	width: 50% !important;
	margin-left: 0px !important;
}
.card-style{
    width: 70%;
	background-color: #A4E15F !important;
	padding: 4px;
	margin-left: 15%;

	margin-top: 10px;
}
.card-hover:hover{
	padding:1px;
      
}


.card-style2{
    width: 70%;
	/*background-color: #C13E46!important;*/
	
	margin-left: 10%;

	margin-top: 10px;
}
.Prise-menu{
	border: 1px solid grey;
	padding: 3px;
	margin-left: 33%;

}
.bgimg-style{
	background-image: url(images/bgimg.JFIF);
}



/*footer*/
.categori-color{
	padding-top: 2%;
	margin-left: 5% !important;
	color: #fff;
}
/*
.footer1{
	font-family: "Work sans-serif";
	color: #fff;
	margin: 10px;
    
}*/
/*.bgfooter-style{
	background-color: black; opacity: 0.8;
	padding-bottom: 4%;
}*/
/*.footer-icon{
	margin-left: 5%;

}
*/
.site-footer{
	background-color: black; opacity: 0.8;
	padding-bottom: 4%;
	color: #fff;
	
	padding-top: 30px;
}
.text-deco{
	text-align: center;
	font-family: 'Merriweather', serif;
}
.text-style{
	font-style: 
}
	

